.container
  .footer
    .footer-wrapper
      hr
      p 
        | &copy; · 2011-2017 &nbsp;
        a(href="http://ruomingxx.com") ruomingxx
        |  ·

        if viewHelper != null
          span  #{viewHelper.getResponseTime()}ms
       
